<!-- view/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
    <% for(let i=0; i<films.length;i++){ %>
        <%if (i%4 == 0) { %>
            <div class="row">
        <% } %>
        
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="">
                <img alt="<%= films[i].title %>" src="<%= films[i].image_url %>" class="img-responsive home-images">
                <figcaption class="figure-caption"><%= films[i].title %></figcaption>
            </a>
        </div>

        <%if (i%4 == 3) { %>
            </div>
        <% } %>
    <% } %>    
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>